	<style>
		h4 {color: red;}
		body {background-color: powderblue;}
		h1   {color: red;}
		h2   {color: green;}
		h3   {color: green;}
		p    {color: blue;}
		input {background-color: gray;}
		button {background-color: yellow;}
	</style>